
.singlePrice{
    transition: .3s;
    padding: 25px 23px;
    border: 1px solid var(--primary-border);
    overflow: hidden !important;
    position: relative;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    .priceTittle{
        transition: .3s;
        color: var(--primary-title);
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 13px;
    }
    .pricePera{
        
        color:var(--secondary-paragraph);
        font-size: 16px;
        margin-bottom: 19px;
    }
    .listing{
        .listItem{
            display: flex;
            align-items: center;
            color: var(--primary-title);
            margin-bottom: 10px;
            font-size: 14px;
            &:last-child{
                margin-bottom: 0;
            }
            i{
                color:var(--primary);
                margin-right: 15px;
               font-size: 20px;
            }
            .priceTag{
                margin: 0;
                text-transform: capitalize;
            }
        }
        .not-permission{
            opacity: .5;
            i{
                color: var(--secondary-paragraph);
            }
        }
    }
    .price{
        transition: .3s;
        color: var(--primary-title);
        font-size: 30px;
        font-weight: 700;
            display: block;
        & > .subTittle{
            font-weight: 400;
            color: var(--secondary-paragraph) !important;
            font-size: 16px;
            background: none;
            padding: 0;
        }
    }
    .off-price{
        font-weight: 400;
        color: var(--secondary-paragraph);
        font-size: 24px;
    }
    // active Price
    &.active{
        cursor: pointer;
        background: linear-gradient(180deg, #c0edd3 0%, rgba(221, 245, 248, 0) 50%);
        border: 1px solid transparent;
        .btn-light-outline{
            border: 1px solid var(--primary);
            background: var(--primary);
            color: #fff;
        }
    }
    // Hover
    &:hover{
        cursor: pointer;
        background: linear-gradient(180deg, #c0edd3 0%, rgba(221, 245, 248, 0) 50%);
        // border: 1px solid var(--primary);
        .btn-light-outline{
            border: 1px solid var(--primary);
            background: var(--primary);
            color: #fff;
        }
    }
}



